<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".link"), "https://www.railstutorial.org/" %>
    <%= t ".by" %>
    <%= link_to t(".link_1"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
        <li><%= link_to t("english").html_safe, locale: "en" %></li>
        <li><%= link_to t("vietnamese").html_safe, locale: "vi" %></li>
        <li><%= link_to t("static_pages.about.title"), about_path %></li>
        <li><%= link_to t("static_pages.contact.title"), contact_path %></li>
        <li><%= link_to t(".link_2"), "http://news.railstutorial.org" %></li>
    </ul>
  </nav>
</footer>
